body{
    padding:0;
    margin:0;
    background-color:blue;
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    display:flex;
    justify-content:center;
  }
  
  .user-list-container{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  #userList > li{
    margin-top:10px;
  }